<html>
<head>
<style>
body{
background-color:rgb(249,166,179);
}
</style>
<title>RESUME</title>
</head>
<body>
<center><h1>RESUME</h1>
<form>
<table>
<h3>Please fill the required details</h3>
<tr>
<td>Firstname : </td>
<td><input type="text" placeholder="firstname" value="{{ fname }}"></td>
</tr>
<tr>
<td>Lastname : </td>
<td><input type="text" placeholder="lastname" value="{{ lname }}"></td>
</tr>
<tr>
<td>Email : </td>
<td><input type="mail" placeholder="email" value="{{ mail }}"></td>
</tr>
<tr>
<td>Mobileno : </td>
<td><input type="phone" placeholder="987*****" value="{{ phno }}">
</td>
</tr>
<tr>
<td>Address : </td>
<td><input type="text" placeholder="address" value="{{ address }}"></td>
</tr>
<tr>
<td>District : </td>
<td><input type="text" placeholder="dist" value="{{ dist }}"></td>
</tr>
<tr>
<td>State :	</td>
<td><input type="text" placeholder="state" value="{{ state }}"></td>
</tr>
<tr>
<td>Pincode : </td>
<td><input type="text" placeholder="pincode" value="{{ pin }}"></td>
</tr>
<tr>
<td>Education :	</td>
<td><input type="text" placeholder="Edu" value="{{ education }}"></td>
</tr>
<tr>
<td>Workstatus : </td>
<td><input type="text" placeholder="status" value="{{ wstatus }}"></td>
</tr>
<tr>
<td>Skillset : </td>
<td><input type="text" placeholder="skills" value="{{ skill }}"></td>
</tr>
<tr>
<td>workexperience : </td>
<td><input type="text" placeholder="mm/yy" value="{{ exp }}"></td>
</tr>
<tr>
</tr>
</center>
</table
</form>
</body>
</html>